python
numpy
matplotlib
prettytable
tqdm
ipython
sphinx
pydata-sphinx-theme
sphinx-autodoc-typehints
nbsphinx
jupyter
jupytext
sphinxcontrib-bibtex
sphinx-copybutton
sphinx-rtd-theme
graphviz
pypandoc
pytest